extend layout

block content
    <section class="text" id="startSection">
        <h1 class="title"><span class="fontawesome-star star"></span> <span>Konfa Clicker</span> <span class="fontawesome-star star"></span></h1>
        <h3 class="title">Press the <button type="button" id="pressStart"> button </button> to start</h3>
    </section>

    <div id="gameWindow" class="gameWindow">
        <header id="header">
            <h1> Konfa Clicker </h1>
        </header>
        
            <div class="main">
                <div class="leftSide" id="leftSide">
                    <br />
                    <p class="points"> Meme Value:<span id="currencyHTML"></span></p>
                    <br />
                    <img width="400" height="400" id="mainButton" src="/images/konfaPhoto.png" />
                </div>
                <br />
                <div class="rightSide">
                    <h3>POWERUPS:</h3>
                    <div id="powers">
                        <table  class="powerup">
                            <tr>
                                <td ><button class="buyButton" id="firstPower">BUY</button></td>
                                <td >No nieźle</td>
                                <td >Cost: <span id="firstPowerPrice"></span></td>
                                <td >Counter: <span id="firstPowerCounter"></span></td>
                            </tr>
                        </table>
                    </div>

                    <h3>UPGRADES:</h3>
                    <div id="upgrades">
                        <table class="powerup">
                            <tr>
                                <td><button class="buyButton" id="firstPowerUpgrade">BUY</button></td>
                                <td><img id="pawelPhoto" src="/images/pawel.png"/></td>
                                <td>Cost: <span id="firstPowerUpgradePrice"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <footer>
                <h3> Made by Dorian Janiak </h3>
            </footer>
        </div>
        script(type='module' src='/javascripts/UIController.js')
        script(type='module' src='/javascripts/main.js')