extend layout

block content
    section(class='text' id='startSection')
        h1(class='title')
            span(class='fontawesome-star star') 
            | 
            span Konfa Clicker
            | 
            span(class='fontawesome-star star') 
        h3(class='title')
            span Press the
            |
            |
            button(type='button' id='pressStart') button
            |
            |
            span to start
    
    div(id='gameWindow' class='gameWindow')
        header(id='header')
            h1 Konfa Clicker
        
        div(class='main')
            div(class='leftSide' id='leftSide')
                br
                p(class='points')
                    span Meme Value:
                    span(id='currencyHTML')
                br
                img(id='mainButton' src='/images/konfaPhoto.png')
            br
            div(class='rightSide')
                h3 POWERS:
                div(id='powers')
                    table(class='powerup')
                        tr
                            td
                                button(class='buyButton' id='firstPower') BUY
                            td 
                                span No Nieźle
                            td
                                span Cost: 
                                span(id='firstPowerPrice')
                            td
                                span Counter:
                                span(id='firstPowerCounter')
                        tr
                            td
                                button(class='buyButton' id='secondPower') BUY
                            td
                                span NANI ARIGATO!
                            td
                                span Cost: 
                                span(id='secondPowerPrice')
                            td
                                span Counter:
                                span(id='secondPowerCounter')
                h3 UPGRADES:
                div(id='upgrades')
                    table(class='powerup')
                        tr
                            td
                                button(class='buyButton' id='mainButtonUpgrade') BUY
                            td
                                img(class='photoOfUpgrade borderRadius' src='/images/konfaPhoto.png')
                            td
                                span Cost:
                                span(id='mainButtonUpgradePrice')
                        tr
                            td
                                button(class='buyButton' id='firstPowerUpgrade') BUY
                            td
                                img(class='photoOfUpgrade' src='/images/pawel.png')
                            td
                                span Cost:
                                span(id='firstPowerUpgradePrice')
                        tr
                            td
                                button(class='buyButton' id='secondPowerUpgrade') BUY
                            td
                                img(class='photoOfUpgrade' src='/images/kuba.jpg')
                            td
                                span Cost:
                                span(id='secondPowerUpgradePrice')

        footer
            h3 Made by Dorian Janiak

    script(type='module' src='/javascripts/UIController.js')
    script(type='module' src='/javascripts/main.js')